@tailwind base;
@tailwind components;
@tailwind utilities;

.home-info{
    background-color: rgba(222, 21, 21, 0.581);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    text-align: center;
    margin-right: 10px;
    color: white;
    padding-top: 18px;
}