{% extends "_global/index.html" %}

{% block mina %}
<div class="row py-x justify-content-between">
    <div class="col-md-5 col-sm-12 p-3 news-div my-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ducimus itaque 
        laborum ipsam nam aliquam animi qui, 
        exercitationem quidem omnis facere sapiente quae molestiae dolorum nobis quos, 
        similique explicabo. Distinctio.
    </div>
    <div class="col-md-5 col-sm-12 p-3 news-div  my-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ducimus itaque 
        laborum ipsam nam aliquam animi qui, 
        exercitationem quidem omnis facere sapiente quae molestiae dolorum nobis quos, 
        similique explicabo. Distinctio.
    </div>
</div>
{{ exempledata }}
    
{% endblock %}