{% extends "_global/index.html" %}

{% block mina %}
<div class="row">
    <div class="col-md-6 text-bg-danger offset-md-3 d-flex justify-content-center regtitle">
        <h1>Please enter your phone number</h1>
    </div>
</div>
<div class="row">
    <div  class="formset col-md-6 offset-md-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div for="email" class="pb-3 pt-3 " ><h6>Hello {{ name }}, please enter your phone number.
                    This is action is necessary when you log in for the first time.</h6>
                    <input type="hidden" value="{{ student }}" id="person">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <label for="email" class="pb-3 pt-3 ">Phone number</label>
                <input type="text" id="phonenumber" class="form-control" name="phones">
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center pb-3 pt-3 ">
                <button type="submit" class="btn btn-danger" id="sendphone">Login</button>
            </div>
        </div>
    </div>
    <div class="phoneupdate mt-3" id="update">
        <h1>Phone is Update</h1>
        <p id="red">Go Your profile</p>
    </div>
</div>

<script src="/engsch/assets/js/loginApi.js"></script>
{% endblock %}